

    <section>
        <h1 class = 'heading'>New Post</h1>
        <div class="form-section">
            <form class="post-form">
                <div>
                    <label for="post-title">Title</label>
                    <input type="text" class = 'entry-field' id="post-title" name="post-title" />
                </div>
                <div>
                    <label for="post-text">Content</label>
                    <textarea class="entry-field" id="post-text" name="post-text"></textarea>
                </div>
                <button type="submit"id = "new-post">Post</button>
            </form>
        </div>
    </section>

<script src="/javascript/post.js"></script>