<section>
    <div>
        <h1 class='heading'>Sign Up</h1>
    </div>
    <div>
        <form class="signup-form">
            <div>
                <label for="username" class='label'>Enter a Username</label>
                <input type="text" class="entry-field" id="username" />
            </div>
            <div>
                <label for="password" class='label'>Enter a password</label>
                <input type="password" class="entry-field" id="password" />
            </div>
            <div>
                <button type="submit">Sign Up</button>
            </div>
        </form>
    </div>
    <div class="link">
        <a href="/login" class="login-link">Already have an account? log in instead!</a>
    </div>
</section>
<script src="/javascript/signup.js"></script>